:root {
  --cor-fundo: #E8E3ED;
  --cor-primaria: #3e0084;
  --cor-secundaria: #fffd5e;
  --cor-branca: #f0f0f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Macondo",serif;
  font-weight: 500;
  font-style: normal;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background: white ;
  box-shadow: 10px 10px 42px 10px var(--cor-fundo);
  height: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0), #DFD5EA);
  border-bottom: 1px solid #3e00843b;
  width: 100%;


}


.logo {
  font-size: 24px;
  color: #3e0084;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  color: var(--cor-primaria);
  font-weight: bold;
  font-size: 16px;
}

.social-icons i {
  margin: 5px;
  font-size: 20px;
  color: var(--cor-primaria);
}

.welcome-section img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;


}

section{

  background: linear-gradient(white,#d0bbe9b0, white,#d0bbe9b0,white);
}
h1 {
    padding: 40px 0;
    color: var(--cor-primaria);
    text-align: center;
    font-size: 48px;
  }
  
  .carrossel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
  }
  
  
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82%;
  
  }
  
  .items{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 90%;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 50px;
  }
  
  .item,.item-maior  {
    border: 1px solid var(--cor-primaria);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px 0 #3e008488;
    margin-top: 55PX;
    padding: 35px 25PX;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.9s ease-out;
  
  }
  .item-maior img{
    width: 215px;
    height: 215px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #3e0084;
  }
  .item  img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #3e0084;
    object-fit: cover;
  }
  
.items .item.visible {
  opacity: 1;
  transform: translateY(0);
}

  
  .icons i:hover, .navbar i:hover,.icons svg:hover{
    color: #7320d1;
    cursor: pointer;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 22px 0;
  }
  
  .icons i,
  svg {
    font-size: 32px;
    color: var(--cor-primaria);
  }
  .icons svg{
    margin-top: 5px;
  }
  
  
  .download {
    display: block;
    margin: 10px auto;
    padding: 12px 60px;
    color: var(--cor-branca);
    background-color: var(--cor-primaria);
    box-shadow: 0 0 20px #3e00845e;
    border: none;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid var(--cor-primaria);
  }
  
  .download:hover {
    background: linear-gradient(45deg, #6003ca, #1f0142);
    box-shadow: 0 0 20px #3e008486;
    transform: scale(1.02);
    color: rgb(252, 252, 213);
  }
  
  .hidden-items {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 19px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .hidden-items.show {
    max-height: 20000px;
    /* Ajuste conforme a altura dos itens */
  }
  
  #verMaisBtn {
    display: block;
    margin: 10px auto;
    padding: 12px 70px;
    color: var(--cor-primaria);
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0 0 10px 0 #3e008488;
    border: 1px solid var(--cor-primaria);
  }
  .ver-tudo{
    display: block;
    margin: 10px auto;
    padding: 12px 70px;
    color: var(--cor-primaria);
    background-color: var(--cor-fundo);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0 0 10px 0 #3e008488;
    border: 1px solid var(--cor-primaria);
  }
  #verMaisBtn:hover {
    background-color: #6a0dad39;
    color: #220048fe;
  }
  
  .btn-ver-mais {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
  }