@media (max-width: 1134px) {

    .right,
    .left {
        padding: 8px;
    }

    .buttons a i,
    svg {
        font-size: 30px;
    }

    a svg {
        width: 60px;
        height: 60px;
    }

    .right {
        width: 50%;
    }

    .opoia a img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 830px) {
    .navbar {
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        font-size: 16px;
    }

    .menu li a {
        font-size: 13px;
    }

    .social-icons a i {
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
    }

    .container {
        width: 100%;
    }

    .items {
        width: 95%;
        gap: 15px;
        justify-content: center;
        margin-top: 0;
    }

    .item,
    .item-maior {
        padding: 19px 18px;
        margin-top: 30px;
    }

    .item img,
    .item-maior img {
        width: 280px;
        height: 280px;
    }

    .icons {
        gap: 20px;
    }

    .icons i
 {
        font-size: 40px;

    }
    .icons svg{
        width: 70px;
        height: 70px;
    }



    .download {
        padding: 14px 70px;
        font-size: 20px;
    }



    .content {
        padding: 10px;
    }

    .text-container {
        padding: 0px;
        font-size: 15px;
    }

    .sobre-livro {
        padding: 0;
    }

    .sobre-livro img {
        width: 50%;
        height: 100%;
    }

    header h1,
    header p {
        font-size: 1.2rem;
    }

    .text-container h2 {
        font-size: 1.5rem;
    }

    .book-info {
        flex-direction: column;
    }

    .midias {
        padding: 30px 0;
    }

    .midias h1 {

        font-size: 8px;
    }

    .midias img {
        width: 50px;
        height: 50px;
    }

    .buttons {
        gap: 15px;
        padding: 15px;
    }

    .buttons a i,
    svg {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    a svg {
        width: 40px;
        height: 40px;
    }

    .opoia a img {
        width: 150px;
        height: 150px;
        padding-right: 13px;
    }

    .right,
    .left {
        padding: 0;
    }
}


@media(max-width:506px) {
    .item-maior {
        display: flex;
        padding: 30px 10px;
    }

    .item-maior {
        padding: 10px 35px;
        gap: 35px;
        align-items: center;
    }

    .item-maior img {
        width: 120px;
        height: 170px;
    }

    .item-maior .download {
        padding: 11px 36px;
        font-size: 10px;
    }

    .item-maior .icons i,
    svg {
        font-size: 25px;
        width: 37px;
    }

    .icons-midia .cima {
        gap: 5px;
    }
    .cima {
        .midia-social-tudo {
            gap: 5px;
            padding: 10px 20px;
    
        }
        .midia-deezer img {
            width: 60px;
            height: 30px;
        }

        .midia-deezer p,
        .midia-apple p,
        .midia-spotify p,
        .midia-youtube p {
            font-size: 15px;

        }
    }

}

@media (max-width: 390px) {
    .navbar {
        justify-content: space-between;
        width: 100%;
    }

    .logo {
        font-size: 13px;
    }

    .menu li a {
        font-size: 10px;
    }

    .social-icons a i {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    .container {
        width: 100%;
    }

    .items {
        width: 95%;
        gap: 10px;
        justify-content: center;
    }

    .item-maior,
    .item {
        display: flex;
        padding: 10px 10px;
        gap: 18px;
        align-items: center;
    }

    .item-maior img,
    .item img {
        width: 130px;
        height: 135px;
        object-fit: cover;
    }

    .icons {

        gap: 7px;

    }




    .item-maior .icons i,
    svg,
    .item .icons i,
    svg {
        font-size: 25px;
        width: 37px;
    }

    .item-maior .download,
    .item .download {
        padding: 11px 36px;
        font-size: 10px;
    }

    .right {
        width: 40%;
    }

    .right,
    .left {
        padding: 0px;
    }

    .buttons {
        gap: 8px;
    }

    .buttons a i,
    svg {
        font-size: 20px;
    }

    a svg {
        width: 40px;
        height: 40px;
    }

    .opoia a img {
        width: 130px;
        height: 130px;
    }
}