@media (max-width: 500px) {
    .navbar{
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        font-size: 15px;
    }
    .menu li a{
        font-size: 10px;
    }
    .social-icons a i{
        font-size: 10px;
    }
    
}